/* Styles for the div with the class "external-styled" */
#externalp {
    color: green;
    border: 2px solid green;
    background-color: #e8f5e9; /* Very light green */
    padding: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:Monospace;
}
#externalh1{
	color: purple;
	font-size: 40px;
}
table {
 border-collapse: collapse;
 width: 30%;
 }
 th, td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
 }
 th {
 background-color: purple;
 color: white;
 }
 tr:nth-child(even) {
 background-color: #f2f2f2;
 }
 tr:hover {
 background-color: #ddd;
 }
