/* ===== General Page Styling ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90b5ec;
    margin: 0;
    padding: 0;
	
}

/* ===== Form Container ===== */
form {
	
    width: 400px;
    margin: 40px auto;
    background-color: #ff0000be;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); }
    



/* ===== Heading ===== */
h2 {
    text-align: center;
    color: #333;
}

/* ===== Labels and Inputs ===== */
label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="tel"]
 {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
	background-color: #FFFFF0;
}





/* ===== Buttons ===== */
input[type="submit"] {
    width: 120px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    
}




br {
    line-height: 1.8;
}
